.portfolio-footer-content {
  padding: 100px 0;
  background-color: #3498db;
  border-radius: 10px;
  color: white;
}
.portfolio-footer-content h3 {
  margin-bottom: 20px;
}

#footer-social {
  width: 25%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

#footer-social i {
  font-size: 1.5rem;
  color: #ffffff99;
  transition: 0.3s;
  cursor: pointer;
}

#footer-social i:hover {
  color: #fff;
  transform: translateY(-5px);
}

@media screen and (max-width: 768px) {
  #footer-social {
    width: 50%;
  }
  .portfolio-footer-content h3 {
    font-size: 1.5rem;
  }
}
